# Validation report
<img src="images/pdf.svg" width="50" height="50"> 

PDF report of visible shapes.